body {
  margin: 0 auto;
  box-sizing: border-box;
  align-content: center;
}
.container {
  margin: 0 auto;
}
p {
  font-size: 10px;
}
.error_image {
  display: block;
  text-align: center;
}
.error_image h3 {
  font-size: 45px;
  line-height: 42px;
}
.img-error {
  width: 200px;
}
.error_image p {
  font-size: 30px;
  line-height: 40px;
}
.error_btn {
  text-align: center;
  margin: 10px 5px;
}
.try_again {
  background-color: #358600;
  width: 460px;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 20px 1px;
  cursor: pointer;
}
.try_again:active {
  background-color: white;
  width: 460px;
  border: none;
  border-radius: 10px;
  color: #358600;
  margin: 20px 1px;
  cursor: pointer;
}
.dashboard {
  width: 460px;
  border: 1px solid #358600;
  border-radius: 10px;
  color: #358600;
  margin: 20px 1px;
  cursor: pointer;
}
.dashboard:active {
  width: 460px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: #358600;
  margin: 20px 1px;
  cursor: pointer;
}
